body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
}
.card{
    margin: 1em auto;
}
.add-card{
    max-width: 400px;
}
.delete-card{
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}
.delete-task{
    cursor: pointer;
}